.unread-row {
    background-color: #e2e3e5;
    /* Color de fondo para filas no leídas */
    font-weight: bold;
}

.read-row {
    background-color: #ffffff;
    /* Color de fondo para filas leídas */
}

.inbox-container {
    margin-top: 20px;
    margin-left: 30px;
    /* Ajusta el margen superior según sea necesario */
}

/* Estilo para la tabla dentro del Card */
.card-body {
    overflow-x: auto;
    /* Agrega barra de desplazamiento horizontal si es necesario */
}