.unread-row {
    background-color: #3a5385;
    /* Color de fondo para filas no leídas */
    font-weight: bold;
}

.read-row {
    background-color: #bb4747;
    /* Color de fondo para filas leídas */
}

.hidden-button {
    display: none;
}

.estado-aprobado{
    color: green;
    font-weight: bold;
}

.estado-rechazado{
    color: red;
    font-weight: bold;
}

.d-none {
    display: none;
}